body {
  font-size: 12px;
  color: darkgray;
  max-width: 800px;
  margin: auto;
}
select {
    font-size: 12px;
    color: darkgray;
}
h1 {
    font-size: 50px;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
    background-color: blue;
}
input {
    font-size: 12px;
    color: darkgray;
}
input.input {
    width: 400px;
}
ul.menu {
    list-style-type: none;
    padding-left: 0;
}
li.menuitem {
    display: inline-block;

}
footer {
    background-color: black;
    color: white;
    font-size: 10px;
    text-align: right;
}